# os
.DS_Store
Thumbs.db
# ide
.idea
# pnpm
node_modules
pnpm-debug.log*
# artifacts
dist
coverage
*.tsbuildinfo
# vitepress
**/.vitepress/dist
**/.vitepress/cache
# agent artifacts
*.temp.md
.playwright-mcp