shamefully-hoist=true           # flatten dependencies to the root node_modules folder
shell-emulator=true             # ensure cross-platform compatibility for package.scripts
strict-peer-dependencies=true   # specify package.peerDependencies to enforce peer dependencies
engine-strict=true              # specify package.engines to enforce Node.js and npm versions

registry=https://registry.npmjs.org/